<div id="templates">
<div id="HomeView">
<div class="container">
 	<div class="row">
 		<div class="span1"></div>
		<div class="span10">
			<a href="http://plato.stanford.edu/entries/technology/#MetIssDesDecMak"><i>When engineering design</i></a> is conceived as a process of decision making, governed by considerations of practical rationality, the next step is to specify these considerations. Almost all theories of practical rationality conceive of it as a reasoning process where a match between beliefs and desires or goals is sought. The desires or goals are represented by their value or utility for the decision maker, and the decision maker's problem is to choose an action that realizes a situation that has maximal value or utility among all the situations that could be realized. 
		</div>
		<div class="span1"></div>
	</div>	
</div>
</div> <!-- id="HomeView" -->
</div> <!-- id="templates" -->